[data-theme='renewed-orchid'] {
	--text-scaling: 1;
	--typo-base--font-family:
		Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
	--typo-base--font-size: inherit;
	--typo-base--color-light: var(--color-surface-950);
	--typo-base--color-dark: var(--color-surface-50);
	--typo-base--line-height: inherit;
	--typo-base--font-weight: normal;
	--typo-base--font-style: normal;
	--typo-base--letter-spacing: 0em;
	--typo-base--font-stretch: inherit;
	--typo-base--font-kerning: inherit;
	--typo-base--text-shadow: inherit;
	--typo-base--word-spacing: inherit;
	--typo-base--hyphens: inherit;
	--typo-base--text-transform: inherit;
	--typo-heading--font-family: inherit;
	--typo-heading--color-light: inherit;
	--typo-heading--color-dark: inherit;
	--typo-heading--font-weight: bold;
	--typo-heading--font-style: normal;
	--typo-heading--letter-spacing: inherit;
	--typo-heading--font-stretch: inherit;
	--typo-heading--font-kerning: inherit;
	--typo-heading--text-shadow: inherit;
	--typo-heading--word-spacing: inherit;
	--typo-heading--hyphens: inherit;
	--typo-heading--text-transform: inherit;
	--typo-anchor--font-family: inherit;
	--typo-anchor--font-size: inherit;
	--typo-anchor--color-light: var(--color-primary-500);
	--typo-anchor--color-dark: var(--color-primary-500);
	--typo-anchor--line-height: inherit;
	--typo-anchor--font-weight: inherit;
	--typo-anchor--font-style: inherit;
	--typo-anchor--letter-spacing: inherit;
	--typo-anchor--font-stretch: inherit;
	--typo-anchor--font-kerning: inherit;
	--typo-anchor--text-shadow: inherit;
	--typo-anchor--word-spacing: inherit;
	--typo-anchor--hyphens: inherit;
	--typo-anchor--text-transform: inherit;
	--typo-anchor--text-decoration-line: none;
	--typo-anchor--text-decoration-color: inherit;
	--typo-anchor--text-decoration-style: inherit;
	--typo-anchor--text-decoration-thickness: inherit;
	--typo-anchor--text-underline-offset: inherit;
	--typo-anchor--text-underline-position: inherit;
	--typo-anchor--hover--text-decoration-line: underline;
	--typo-anchor--hover--text-decoration-color: inherit;
	--typo-anchor--hover--text-decoration-style: inherit;
	--typo-anchor--hover--text-decoration-thickness: inherit;
	--typo-anchor--hover--text-underline-offset: inherit;
	--typo-anchor--hover--text-underline-position: inherit;
	--typo-anchor--active--text-decoration-line: none;
	--typo-anchor--active--text-decoration-color: inherit;
	--typo-anchor--active--text-decoration-style: inherit;
	--typo-anchor--active--text-decoration-thickness: inherit;
	--typo-anchor--active--text-underline-offset: inherit;
	--typo-anchor--active--text-underline-position: inherit;
	--typo-anchor--focus--text-decoration-line: none;
	--typo-anchor--focus--text-decoration-color: inherit;
	--typo-anchor--focus--text-decoration-style: inherit;
	--typo-anchor--focus--text-decoration-thickness: inherit;
	--typo-anchor--focus--text-underline-offset: inherit;
	--typo-anchor--focus--text-underline-position: inherit;
	--spacing: 0.22rem;
	--radius-base: 0.25rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-ring-width: 1px;
	--default-outline-width: 1px;
	--corner-shape-base: notch;
	--corner-shape-container: bevel;
	--color-root-bg-light: var(--color-surface-50);
	--color-root-bg-dark: var(--color-surface-950);
	--color-brand-light: var(--color-secondary-700);
	--color-brand-contrast-light: var(--color-secondary-contrast-700);
	--color-brand-dark: var(--color-secondary-600);
	--color-brand-contrast-dark: var(--color-secondary-contrast-600);
	--color-primary-50: oklch(91.66% 0.04 257.51deg);
	--color-primary-100: oklch(84.19% 0.07 255.4deg);
	--color-primary-200: oklch(76.89% 0.11 254.81deg);
	--color-primary-300: oklch(69.67% 0.15 255.38deg);
	--color-primary-400: oklch(63.17% 0.18 256.17deg);
	--color-primary-500: oklch(57.44% 0.21 258.27deg);
	--color-primary-600: oklch(51.82% 0.19 258.2deg);
	--color-primary-700: oklch(45.98% 0.16 258deg);
	--color-primary-800: oklch(40.28% 0.14 257.7deg);
	--color-primary-900: oklch(34.07% 0.11 257.5deg);
	--color-primary-950: oklch(27.72% 0.08 257.98deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(85.92% 0.13 326.68deg);
	--color-secondary-100: oklch(79.43% 0.15 323.05deg);
	--color-secondary-200: oklch(72.72% 0.18 319.69deg);
	--color-secondary-300: oklch(66.32% 0.2 317.29deg);
	--color-secondary-400: oklch(59.91% 0.21 314.36deg);
	--color-secondary-500: oklch(54.11% 0.23 311.52deg);
	--color-secondary-600: oklch(48.15% 0.21 309deg);
	--color-secondary-700: oklch(42.03% 0.19 305.69deg);
	--color-secondary-800: oklch(35.75% 0.17 301.18deg);
	--color-secondary-900: oklch(29.31% 0.15 294.67deg);
	--color-secondary-950: oklch(22.44% 0.13 285.16deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-light);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(90.73% 0.08 328.92deg);
	--color-tertiary-100: oklch(82.91% 0.13 339.68deg);
	--color-tertiary-200: oklch(76% 0.18 345.55deg);
	--color-tertiary-300: oklch(70.37% 0.22 350.76deg);
	--color-tertiary-400: oklch(66.52% 0.25 355.9deg);
	--color-tertiary-500: oklch(64.55% 0.26 2.5deg);
	--color-tertiary-600: oklch(59.39% 0.24 1.72deg);
	--color-tertiary-700: oklch(53.93% 0.22 0.54deg);
	--color-tertiary-800: oklch(48.51% 0.2 359.74deg);
	--color-tertiary-900: oklch(42.76% 0.17 357.83deg);
	--color-tertiary-950: oklch(37.03% 0.15 355.51deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(93.9% 0.09 179.09deg);
	--color-success-100: oklch(91.57% 0.1 178.72deg);
	--color-success-200: oklch(89.21% 0.11 177.71deg);
	--color-success-300: oklch(87.2% 0.12 176.72deg);
	--color-success-400: oklch(84.95% 0.12 175.68deg);
	--color-success-500: oklch(82.81% 0.13 175.08deg);
	--color-success-600: oklch(72.74% 0.11 175.88deg);
	--color-success-700: oklch(62.29% 0.1 176.23deg);
	--color-success-800: oklch(51.16% 0.08 178.61deg);
	--color-success-900: oklch(39.61% 0.06 180.35deg);
	--color-success-950: oklch(27.17% 0.04 186.97deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-dark);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(95.58% 0.05 86.88deg);
	--color-warning-100: oklch(92.81% 0.07 83.57deg);
	--color-warning-200: oklch(90.05% 0.09 81.8deg);
	--color-warning-300: oklch(87.42% 0.11 80.05deg);
	--color-warning-400: oklch(84.79% 0.12 78.56deg);
	--color-warning-500: oklch(82.33% 0.14 76.57deg);
	--color-warning-600: oklch(76.31% 0.14 72.87deg);
	--color-warning-700: oklch(70.33% 0.13 68.3deg);
	--color-warning-800: oklch(63.99% 0.13 63.18deg);
	--color-warning-900: oklch(57.92% 0.13 57.63deg);
	--color-warning-950: oklch(51.71% 0.13 51.88deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(89.99% 0.04 14.04deg);
	--color-error-100: oklch(83.49% 0.07 19.81deg);
	--color-error-200: oklch(77.5% 0.11 22.66deg);
	--color-error-300: oklch(71.84% 0.15 24.01deg);
	--color-error-400: oklch(67.29% 0.19 26.46deg);
	--color-error-500: oklch(63.71% 0.22 28.57deg);
	--color-error-600: oklch(59.37% 0.21 28.57deg);
	--color-error-700: oklch(54.92% 0.2 28.58deg);
	--color-error-800: oklch(50.57% 0.19 28.68deg);
	--color-error-900: oklch(46.11% 0.18 28.78deg);
	--color-error-950: oklch(41.78% 0.17 29.17deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(100% 0 none);
	--color-surface-100: oklch(90.67% 0 none);
	--color-surface-200: oklch(81.41% 0 none);
	--color-surface-300: oklch(71.55% 0 none);
	--color-surface-400: oklch(61.67% 0 none);
	--color-surface-500: oklch(51.03% 0 none);
	--color-surface-600: oklch(44.95% 0 none);
	--color-surface-700: oklch(38.67% 0 none);
	--color-surface-800: oklch(32.11% 0 none);
	--color-surface-900: oklch(25.2% 0 none);
	--color-surface-950: oklch(17.76% 0 none);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
