@use "settings";

@mixin jm-typography {
  @font-face {
    font-family: Oxygen;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/oxygen/Oxygen-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Oxygen Bold";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/oxygen/Oxygen-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Oxygen Light";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/oxygen/Oxygen-Light.ttf") format("truetype");
  }

  * {
    font-family: Oxygen, sans-serif;
    color: settings.$color-text-default;
  }

  a {
    &:not(:visited) {
      color: settings.$color-text-link-default;
    }

    &:visited {
      color: settings.$color-text-link-visited;
    }
  }

  strong,
  b {
    font-family: "Oxygen Bold", sans-serif;
  }

  em,
  i {
    font-family: "Oxygen Light", sans-serif;
  }
}
