@use "base";

@mixin jm-c-grid-col($col-span) {
  grid-column-end: span #{$col-span} !important;
  .#{$grid-row-class} {
    grid-template-columns: repeat(#{$col-span}, minmax(0, 1fr));
  }
}

@mixin jm-c-grid {
  .#{$grid-row-class} {
    display: grid;

    @media screen and (width < $grid-breakpoint-small) {
      grid-template-columns: repeat(#{$grid-cols-small}, minmax(0, 1fr));
      gap: $grid-gutter-small;
      & > [class^="#{$grid-col-medium-prefix}"],
      & > [class^="#{$grid-col-large-prefix}"] {
        grid-column-end: span #{$grid-cols-small};
      }
    }
  }

  @media screen and ($grid-breakpoint-medium <= width < $grid-breakpoint-large) {
    .#{$grid-row-class} {
      grid-template-columns: repeat(#{$grid-cols-medium}, minmax(0, 1fr));
      gap: $grid-gutter-medium;
      & > [class^="#{$grid-col-small-prefix}"],
      & > [class^="#{$grid-col-large-prefix}"] {
        grid-column-end: span #{$grid-cols-medium};
      }
    }
  }

  @media screen and (width >= $grid-breakpoint-large) {
    .#{$grid-row-class} {
      grid-template-columns: repeat(#{$grid-cols-large}, minmax(0, 1fr));
      gap: $grid-gutter-large;
      & > [class^="#{$grid-col-small-prefix}"],
      & > [class^="#{$grid-col-medium-prefix}"] {
        grid-column-end: span #{$grid-cols-large};
      }
    }
  }

  @for $i from 1 through $grid-cols-small {
    .#{$grid-col-small-prefix}-#{$i} {
      @include jm-c-grid-col($i);
    }
  }

  @for $i from 1 through $grid-cols-medium {
    @media screen and ($grid-breakpoint-small <= width < $grid-breakpoint-large) {
      .#{$grid-col-medium-prefix}-#{$i} {
        @include jm-c-grid-col($i);
      }
    }
  }

  @for $i from 1 through $grid-cols-large {
    @media screen and (width >= $grid-breakpoint-large) {
      .#{$grid-col-large-prefix}-#{$i} {
        @include jm-c-grid-col($i);
      }
    }
  }
}
