$grid-cols-large: 12;
$grid-cols-medium: 8;
$grid-cols-small: 4;
$grid-row-class: "grid-row";
$grid-col-class: "grid-col";
$grid-col-large-prefix: $grid-col-class;
$grid-col-medium-prefix: #{$grid-col-class}-medium;
$grid-col-small-prefix: #{$grid-col-class}-small;
$grid-gutter-large: 1em;
$grid-gutter-medium: 0.75em;
$grid-gutter-small: 0.5em;

// Starting pos for XL
$grid-breakpoint-large: 1024px;

// Starting pos for large
$grid-breakpoint-medium: 768px;

// Starting pos for medium
$grid-breakpoint-small: 400px;
