$color-text-default-light: black !default;
$color-text-link-default-light: rgb(94 186 223) !default;
$color-text-link-visited-light: rgb(193 94 223) !default;
$color-background-default-light: whitesmoke !default;
$color-background-basic-light: #5d2d84 !default;
$color-border-default-light: #363333 !default;
$color-text-default: var(--jm-color-text-default) !default;
$color-text-link-default: var(--jm-color-text-link-default) !default;
$color-text-link-visited: var(--jm-color-text-link-visited) !default;
$color-background-default: var(--jm-color-background-default) !default;
$color-background-basic: var(--jm-color-background-basic) !default;
$color-border-default: var(--jm-color-border-default) !default;

@mixin jm-s-color-theme-light {
  --jm-color-text-default: #{$color-text-default-light};
  --jm-color-text-link-default: #{$color-text-link-default-light};
  --jm-color-text-link-visited: #{$color-text-link-visited-light};
  --jm-color-background-default: #{$color-background-default-light};
  --jm-color-background-basic: #{$color-background-basic-light};
  --jm-color-border-default: #{$color-border-default-light};
}
